.about {
  text-align: center;
  max-width: 100%;
  margin: 0;
  padding: 100px 0 20px;
  background-image: linear-gradient(45deg, #8c87ee, #e498f1, #dec272, #dd835c);
  background-position: 0px 0px;
  background-size: 400% 400%;
  animation: surround 4s linear infinite alternate;
  height: 380px;
}

@keyframes surround {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 25% 25%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 75% 75%;
  }

  100% {
    background-position: 100% 100%;
  }
}

@keyframes slide-down {
  0% {
    margin-top: -10px;
    opacity: 0;
    filter: blur(4px);
  }

  100% {
    margin-top: 0px;
    opacity: 1;
    filter: blur(0);
  }
}

.about__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid white;
  animation: slide-down 0.5s linear forwards;
}

.about h1 {
  opacity: 0;
  animation: slide-down 0.3s 0.25s linear forwards;
}

.about h4 {
  opacity: 0;
  animation: slide-down 0.3s 0.5s linear forwards;
}

.about p {
  max-width: 500px;
  margin: 0 auto;
  color: #333;
  opacity: 0;
  animation: slide-down 0.3s 0.75s linear forwards;
  margin-bottom: 20px;
}

.about__links {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0;
  animation: slide-down 0.3s 1s linear forwards;
}

.about__links img {
  height: 40px;
  width: auto;
}