.nav {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 20px;
  left: calc(50vw - 250px);
}

.nav__links {
  height: 50px;
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.nav__links a {
  text-decoration: none;
  color: #666;
  padding: 10px 15px;
  transition: all 0.4s;
}

.nav__links__item--active {
  background-color: #eee;
  border-radius: 20px;
}

.nav__links a:hover {
  color: black;
  background-color: #eee;
  border-radius: 20px;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

a.nav__action__btn {
  display: inline-block;
  display: none;

  text-decoration: none;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(from var(--angle) at 50% 50%, #ab6ecf 0%, #b650c0ff 38%, #e76eab 66%, #c171ff 100%);
  padding: 5px;
  animation: rotate 1s linear infinite;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 100%;
    background: #1c155b;
    color: #fff;
    height: 30px;
    transition: all 0.3s;
  }
}

a.nav__action__btn:hover > span {
  background-color: #6159ab;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }

  100% {
    --angle: 360deg;
  }
}
