section#about {
  text-align: center;
}

section#about > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 6px solid white;
}

section#about p {
  max-width: 500px;
  margin: 0 auto;
  color: #666;
}

section#about ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

section#about ul img {
  height: 40px;
  width: auto;
}
