nav {
  width: 500px;
  height: 50px;
  background-color: white;
  margin: 50px auto;
  border-radius: 25px;
}
nav > ul {
  height: 50px;
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #666;
}

nav a:hover {
  color: black;
}
